* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: 'Martel Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Acme&family=Martel+Sans:wght@600&display=swap');

body {
    background-color: black;
}

.main {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/a09bb938-2d90-42ae-986e-5a3e4abf9e77/8eb1e781-3494-4aa4-9405-268ca6473e4c/IN-en-20231113-popsignuptwoweeks-perspective_alpha_website_small.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    max-width: 75vw;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-top: 15px;
}

nav span img {
    position: relative;
    z-index: 99;
}

nav button {
    position: relative;
    z-index: 99;
}

.hero {
    height: calc(100% - 52px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
    gap: 18px;
}

.hero> :first-child {
    font-size: 48px;
    font-weight: 800;
}

.hero> :nth-child(2) {
    font-size: 20px;
    font-weight: 400;
}

.hero> :nth-child(3) {
    font-size: 18px;
    font-weight: 400;
}

.line {
    height: 1.5px;
    background-color: white;
}

.btnnav {
    display: flex;
    gap: 20px;
}

.upbtn {
    padding: 9px 14px;
    background-color: rgb(217, 28, 37);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 5px;
}

.upbtn1 {
    padding: 9px 18px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.375);
    border-radius: 5px;
}

.innu input {
    padding: 13px 120px 13px 15px;
    border-radius: 3px;
    color: white;
    background-color: rgba(35, 35, 35, 0.754);
    border: 0.5px solid white;
    outline: none;
}

.innu button {
    padding: 13px 20px;
    background-color: rgb(217, 28, 37);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    font-size: 16px;
    font-weight: 600;
}

.first {
    display: flex;
    align-items: center;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    min-height: 60vh;
}

.secimg img {
    width: 30vw;
}

.secimg {
    position: relative;
}

.secimg video {
    position: absolute;
    top: 60px;
    right: 53px;
    width: 22vw;
}

.first>.Ready {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-left: 70px;
}

.first>.Ready :first-child {
    font-size: 44px;
    font-family: 'Martel Sans', sans-serif;
    font-weight: 900;
}

.first>.Ready :nth-child(2) {
    font-size: 22px;
    font-family: 'Martel Sans', sans-serif;
    width: 70%;
}

.trdimg img {
    width: 40vw;
}

.trdimg {
    position: relative;
}

.trdimg video {
    position: absolute;
    top: 23px;
    right: 90px;
    z-index: -1;
    width: 26vw;
}

.questions h2 {
    font-family: 'Martel Sans', sans-serif;
    font-size: 44px;
    text-align: center;
    padding: 34px;    
    font-weight: 900;
}

.faqbox {
    display: flex;
    max-width: 85%;
    margin: auto;
    background-color: #2d2d2d;
    padding: 30px;
    color: black;
    font-family: 'Martel Sans', sans-serif;
    justify-content: space-between;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 24px;
    transition: all ease 0.2s;
}

.faqbox:hover {
    background-color: #444444;
}

.majnu {
    margin: 42px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.majnu span {
    font-size: 24px;
}

footer {
    min-height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer .elem {
    width: 25%;
    margin: 90px;
}

footer .elem h5 {
    padding-bottom: 10px;
}